*{
    line-height: 1.5;
}

p, h1, h4, h3, h2 {
    margin-top: 0;
    margin-bottom: 0;

}

body {
    margin: 0px;
    font-size: large;
    font-family: 'Open Sans', sans-serif;

}

.separator_strong{
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid gray;
}
.separator_light{
    margin-top: 0.2em;
    margin-bottom: 0.6em;
    border: 1px solid lightgray;
}

.navbar{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
}

.navbar_ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    margin: 0px;

}

a{
    text-decoration: none;
    color: black;
}
ul
{
    list-style: none; 
    padding: 0px;
    margin: 0;
}


.content{
    width: 70%;
    /* background-color: aqua; */
    margin-left: auto;
    margin-right: auto;

}

img{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: .7em;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    
}

.about{
    display: flex;
    padding: 2px;
    gap: 1em;
    border-radius: 10px;
    border: 1.5px solid lightgrey;
    
}
.about__subtitle{
    
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    gap: 1.5em;
}

.subtitle__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-top: 1.5em;
    
    
}



.about__details{
    display: flex;
    
    flex-direction: column;
    /*width: auto;
    justify-content: flex-end;
    align-content: center;
     align-items:  center; 
    flex-wrap: wrap; 
    */
    gap: .8em;  
    margin: auto;
}
.about__details__menu{
    display: flex;
    gap: .7em;
    
}
.menu__img{
    width: 1.5em;
    height: 1.5em;
}
.menu__subtitle{
    margin-top: auto;
    margin-bottom: auto;
    
}
.about_links_ul{
    display: flex;
    justify-content: center;
    gap: 2.5em;
    padding: 0px;
}
.about__link__logo{
    width: 2em;
    height: 2em;
}

.skills{
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: .5em 1em;
}
.skills__container{
    display: flex;
    gap: 2em;
    /* align-items: center; */
    /* margin-top: 1em; */
    
}
.skills__subtitle{
    flex: 2;
    font-size: 1.4rem ;
    
}
.skills__list{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;

}
.skills__list_container{
    display: flex;
    gap: 1.2em;
}
.skills__list__section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}
.skills__item{
    display: flex;
    gap: 15px;
}
.skills__item svg{
    width: 25px;
    height: 25px;
}

.skills__item p{

    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bolder;

}
.project__child_container{
    display: flex;
    gap: 10px;
}
.project__item__container{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    gap: .6em;
    padding: 0.3em;
    border-radius: 10px;
    flex: 1;
}
.project__item__container img{
    
    width: 250px;
    height: 250px;
    margin: 0px;

}
.project__item__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

@media (max-width:1164px){
    .about__subtitle{
       
       font-size: medium;
    }
    .about{
        gap: 1em;
    }
}

@media (max-width: 928px) {
    .content{
        width: 80%;
    }
    .about 
    {   
       flex-direction: column;
       justify-content: center;
       text-align: center;
        
    }
    
    .about__profile{
        margin: auto;
        width: auto;
        height: auto;
        border-radius: 50%;
    }

    .about__subtitle{
        margin-left: 20%;
        margin-right: 20%;
        
    }
    
    .skills__container{
        flex-direction: column;
        align-items: normal;
    }
    
}
